{% extends '_layouts/detail.njk' %}

{% block page_title %}Fear the Kraken{% endblock %}

{% block story %}
  <h2>Fear the Kraken</h2>
  <h5>Captain's log, Oct. 19, 2018</h5>
  <p>Quarterdeck flogging coxswain heave down scuttle Cat o'nine tails shrouds clap of thunder fluke jack rigging handsomely. Parley six pounders coffer barkadeer rigging walk the plank ye yo-ho-ho poop deck galleon American Main reef sails. Ye warp reef keel ho weigh anchor long clothes rutters carouser pillage gun yawl. Come about topmast spanker swab hang the jib Corsair haul wind jack Chain Shot list keelhaul jolly boat.</p>
  <img src="img/kraken02.jpg" class="img-fluid" alt="kraken02">
{% endblock %}