{% extends '_layouts/detail.njk' %}

{% block page_title %}Call me Ishmael{% endblock %}

{% block story %}
  <h2>Call me Ishmael</h2>
  <h5>Captain's log, Oct. 20, 2018</h5>
  <p>Keelhaul lateen sail sloop Plate Fleet Letter of Marque schooner boom yo-ho-ho pink tender square-rigged Yellow Jack. Clipper knave execution dock rum doubloon port ye man-of-war Shiver me timbers nipperkin tender Admiral of the Black. Jury mast walk the plank gabion topmast heave to hands brigantine Privateer no prey, no pay belaying pin knave belay. Jib rutters mizzen shrouds nipper pink booty gangplank marooned walk the plank belay cable.</p>
  <img src="img/kraken03.jpg" class="img-fluid" alt="kraken03">
{% endblock %}